.cor-link-rodape {
    color: #ffffff;
}

.cor-nome-dev-rodape {
    color: #cccccc;
}

.texto-rodape {
    font-size: 100%;
    text-align: left;
}

.btn-tabela-th-td {
    width: 10%;
    text-align: center;
}