.cor-link-rodape {
    color: #ffffff;
}

.cor-nome-dev-rodape {
    color: #cccccc;
}

.texto-rodape {
    font-size: 100%;
    text-align: left;
}

.btn-tabela-th-td {
    width: 10%;
    text-align: center;
}

.jogos-tabela-th-td {
    width: 45%;
}

.jogo-finalizado-tabela-th-td {
    width: 8%;
    text-align: center;
}

.nav-link {
    color: #ffffff;
}

main {
    flex-grow: 1;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #efefef;
}

footer {
    margin-top: auto;
}
